.priority1{
  background-color: rgb(43, 167, 43);
  // border: 2px solid rgb(15, 192, 15);
}

.priority2{
  background-color: rgb(207, 159, 69);
  // border: 2px solid rgb(255, 167, 5);
}


.priority3{
  background-color: rgb(189, 74, 74);
  // border: 2px solid rgb(255, 23, 23);
}

.todo-card{
  margin: 1vh;
}
